// Generic imports
@import './resets';
@import url('https://fonts.googleapis.com/css?family=Alatsi|Roboto|Lato&display=swap');


//Card variables
@import './cardvars';

// import the style for front and back of card
@import './cardfront';
@import './cardback';

// General Vars
$page-bg-color:#e7e7eb;

body {
  @include flexCenter(column);
  background: $page-bg-color;
  height: 100vh;
}


// Card itself
.card-container {
  width: $card-width;
  height: $card-height;
  background: transparent;
  @include flexCenter(column);
  perspective: 1000px;
}

// Flip the card when hover over the container
.card-container:hover .card {
  transform: rotateY(180deg);
}

.card {
  position: relative;
  width: 100%;
  height: 100%;

  font-family: 'Lato', sans-serif;

  background: transparent;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
  border-radius: $card-border-radius;

  // Flip animation
  transition: transform 0.5s ease-in-out;
  transform-style: preserve-3d;

}